@import url("assets/css/colors.css");

@media (max-width: 1399px) {
  .rewords {
    transform: translateY(58%) !important;
  }
  .rewords:hover {
    transform: translateY(0) !important;
  }
}
@media (max-width: 1250px) {
  .whoWeAre__vid {
    height: 460px;
    width: 600px !important;
  }
  .whoWeAre__vid-wrapper {
    bottom: -110px !important;
  }
}
@media (max-width: 1199px) {
  .whoWeAre__vid {
    height: 478px !important;
    width: 567px !important;
  }
}
@media (max-width: 1084px) {
  .whoWeAre__vid {
    height: 557px !important;
    width: 522px !important;
  }
  .whoWeAre__vid-wrapper {
    bottom: -240px !important;
  }
}
@media (max-width: 991px) {
  .navbar-login {
    background-color: var(--white);
    padding: 4px 20px;
    border-radius: 2px;
    font-weight: 600;
    color: var(--primary);
    text-decoration: none;
  }
  .contact_email-wrapper {
    width: 100%;
  }
  .whoWeAre .whoWeAre_content {
    padding-right: 50px !important;
    margin-bottom: 0 !important;
    padding-bottom: 100px !important;
  }
  .whoWeAre__vid-wrapper {
    left: unset !important;
    bottom: 0 !important;
    top: -50px;
    width: 97%;
    right: 0;
  }
  .whoWeAre__vid-wrapper .whoWeAre__vid {
    width: 100% !important;
    height: 420px !important;
  }
  .whoWeAre__img {
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
    height: 100%;
    width: 100%;
  }
  .carousel_item::before {
    position: static;
    background: none;
  }
  .nav-link.active::before {
    content: "";
    position: static !important;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-radius: 0;
    background: none !important;
  }
  .header_body {
    max-width: 90% !important;
  }
  .rewords {
    transform: translateY(0) !important;
  }
  .carousel_inner,
  .carousel_img {
    height: 150vh !important;
  }
}
@media (max-width: 768px) {
  .header_title {
    font-size: 3rem !important;
  }
  .header_description {
    font-size: 1.25rem !important;
  }
}
@media (max-width: 576px) {
  .statistic_heading {
    font-size: large;
    text-align: center;
  }
  .statistic_subText {
    font-size: medium;
    text-align: center;
  }
  .contact_email-wrapper {
    flex-direction: column;
  }
  .contact_email {
    margin-bottom: 16px;
    font-size: 1rem;
    margin-right: 0 !important;
  }
  ::placeholder {
    font-size: 1rem;
  }
  .contact_btn {
    font-size: 1rem;
  }
  .contact_logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
  }
  .contact_links-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 16px;
  }
  .header_title {
    font-size: 2rem !important;
    max-width: 100% !important;
  }
  .whoWeAre_title {
    font-size: 1.625rem !important;
  }
  .whoWeAre_description {
    font-size: 1rem !important;
  }
  .whoWeAre .whoWeAre_content {
    padding-right: 25px !important;
    padding-left: 25px !important;
  }
  .whoWeAre {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .whoWeAre__vid-wrapper {
    width: 100% !important;
  }
  .whoWeAre__vid-wrapper .whoWeAre__vid {
    height: 300px !important;
  }
  .whoWeAre_video-warapper {
    height: 300px !important;
  }
  .whoWeAre_play {
    top: -8px !important;
    right: -8px !important;
    width: 75px !important;
    height: 75px !important;
    border: 7px solid var(--white) !important;
  }
  .video_x {
    position: absolute;
    top: 10px !important;
    right: 10px !important;
    width: 35px !important;
    height: 35px !important;
  }
}
